matplotlib
torch>=2.6.0
torchvision
torcheval
tqdm
joblib
astropy>6.0.0
webdavclient3
python-dotenv>=1.0.0
numpy<=2.0.0
xformers
tensorboard
scikit-learn
astroNNomy @ git+https://github.com/LOFAR-VLBI/astroNNomy.git@v1.0.0
